.term-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	padding: 24px;
	border-radius: 24px;
	background-color: #f5f5f5;
}

.text-wrap {
	overflow: hidden;
}

.term-card__title {
	margin: 0;
	word-wrap: break-word;
}

.term-card__description {
	font-size: 16px;
	margin: 0;
}

.term-card__delete {
	padding: 8px 12px;
	width: fit-content;
	background-color: #ff9999;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
}
